 body {
  background: rgb(168, 161, 154);
  margin: 30px;
}
.flex-container {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 15px;
        }

#typewriter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;

}
#typedtext {
  display: inline-flex;
  width: 80%;
  height: 150px;
  background-color: rgb(94, 90, 88);
  font-family: 'Codystar', cursive;
  color: rgb(250, 250, 250);
  font-size: 40px;
  margin: none;
  letter-spacing: 6px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.nav {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: rgb(94, 90, 88); /*tblack-brown*/
    font-family: 'Exo', sans-serif;
    width: 80%;
    height: 50px;
}

.nav a {
    display: inline-flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid rgb(168, 161, 154);
  }

    a:last-child {
      border-right: none;
    }


.nav a:hover {
    background-color: rgb(88, 114, 132); /*grey*/
    color: black;
}

a:hover:not(.active) {
    background-color: rgb(88, 114, 132);
}
.active {
    background-color: rgb(88, 114, 132);
    color: #FFFFFF;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(240, 240, 240); /*grey*/
    width: 80%;
    height: 150vh;
    margin: 10px;
    border-radius: 10px;
}

#content-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-family: 'Exo', sans-serif;
  font-size: 28px;
  width: 100%;

}

.content img {   /* <-- ordna thumbnails till portfolio */
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    transition-timing-function: ease-in-out;
    transition: 2s;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 60%;
    height: auto;
}

.content img:hover {
    position: relative;
    -ms-transform: scale(2.0);
    -webkit-transform: scale(0.75);
    transform: scale(1.4);

}

.content p {
  text-align: center;
  font-family: 'Exo', sans-serif;
  font-size: 24px;
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

.side-content {
  display: inline-flex;
  flex-direction: column;
  height: 70vh;
  width: 15%;
  background: rgb(240, 240, 240);
  right: -20px;
  position: -webkit-fixed;
  position: fixed;
  top: 150px;
  margin: 10px;
  border-radius: 1000px 0px 0px 1000px;
  box-shadow: -webkit-box-shadow: 0px 2px 20px 10px rgba(0,0,0,0.3);
              -moz-box-shadow: 0px 2px 20px 10px rgba(0,0,0,0.3);
              box-shadow: 0px 2px 20px 10px rgba(0,0,0,0.3);
}

.side-content img {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: wrap;
  align-self: center;
  transition-timing-function: ease-in-out;
  transition: 2s;
  padding-bottom: 20px;
  padding-right: 30px;
  width: 80%;
}

.side-content img:hover {
  position: relative;
  -ms-transform: scale(2.0);
  -webkit-transform: scale(0.75);
  transform: scale(1.4);
}


.side-content p {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  text-align: center;
  font-size: 20px;
  font-family: 'Exo', sans-serif;
  color: rgb(0, 0, 0);
  max-width: 100%;
  height: 150px;
  margin: 20px 40px;
}

.button {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  margin: 10px 20px 100px 20px;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  text-decoration: none;

}

.button a {
  text-decoration: none;
  font-size: 22px;
  font-family: 'Exo', sans-serif;
  color: rgb(0, 0, 0);
  background: rgb(240, 240, 240);
}

.button a:hover {
    background: rgb(230, 230, 230);
    color: black;
}

/* POP Up Box */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 700ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  position: fixed;
  margin-left: 300px auto;
  padding: 20px;
  background-image: url(file:///Users/jenninordlund/Desktop/Portfolio%20KYH/about_me.png);
  background-size: cover;
  border-radius: 5px;
  width: 800px;
  height: 600px;
  right: 300px;
  top: 50px;
  transition: all 5s ease-in-out;
}

.popup article {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;

  font-size: 16px;
  letter-spacing: 0.8px;
  font-style: normal;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  text-align: justify;


  margin-right: 250px;
  width: 800px;
  height: 570px;
  padding: 10px 10px 10px 20px;
  border-radius: 10px;
  background: rgba(250, 250, 250, 0.8);
}

h4 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-flow: wrap;
  text-align: center;
  font-size: 24px;
  margin-left: 50px;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: rgba(250, 250, 250, 0.8);
}
.popup .close:hover {
  color: grey;
}


@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

/* POP Up Box End */

.footer {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    background-color: rgb(94, 90, 88); /*tblack-brown*/
    color: #FFFFFF;
    width: 80%;
}

.footer a {
  display: flex;
  align-content: center;
  justify-content: center;
  color: white;
  font-family: 'Exo', sans-serif;
  font-size: 28px;
  letter-spacing: 15px;
  text-decoration: none;
}
.footer a:hover {
  background-color: rgb(94, 90, 88);
}
.footer h6 {
  display: flex;
  color: white;
  font-family: 'Exo', sans-serif;
  font-size: 18px;
  letter-spacing: 3px;
  margin-left: 200px;
  margin-right: 300px;
  text-align: center;
}
